/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/
// Colors.
$primary: #3366ff;
$primary-variation: #0b3ed7;
$secondary: #666666;
$secondary-variation: #3e3e3e;
$dark-gray: #111111;
$medium-gray: #767676;
$light-gray: #EEEEEE;
$white: #FFFFFF;
$color__primary: #36f;
$color__secondary: #555;
$color__background-body: #fff;
$color__background-input: #fff;
$color__background-screen: #f1f1f1;
$color__text-main: #111;
$color__text-light: #767676;
$color__text-input-focus: #111;
$color__border: #ccc;
$color__error: #de4040;
/*VARIABLES*/
$mobile_width: 600px;
$tablet_width: 782px;
$desktop_width: 1168px;
$wide_width: 1379px;

$font__size_base: 20px;
$font__size-ratio: 1.125;

$font__size-xxxs: 1em * 0.5; // 10px
$font__size-xxs: 1em * 0.6; // 12px
$font__size-xs: 1em * 0.7; // 14px
$font__size-sm: 1em * 0.8; // 16px
// $font__size_base: 1em * 1; // 20px
$font__size-md: 1em * 1.2; // 24px
$font__size-lg: 1em * 1.4; // 28px
$font__size-xl: 1em * 1.8; // 36px
$font__size-xxl: 1em * 2.2; // 44px
$font__size-xxxl: 1em * 2.8; // 56px
$font__size-xxxxl: 1em * 3.2; // 64px

$font__line-height-body: 1.6;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-double: 2 * $font__line-height-heading;

$color__border: #ccc;

/*MIXINS*/
@mixin media( $res ) {
	@if mobile == $res {
		@media only screen and ( min-width: $mobile_width ) {
			@content;
		}
	}

	@if tablet == $res {
		@media only screen and ( min-width: $tablet_width ) {
			@content;
		}
	}

	@if desktop == $res {
		@media only screen and ( min-width: $desktop_width ) {
			@content;
		}
	}

	@if wide == $res {
		@media only screen and ( min-width: $wide_width ) {
			@content;
		}
	}
}

@mixin visuallyHidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect( 1px, 1px, 1px, 1px );
	white-space: nowrap; /* added line */
}

/*PLACEHOLDER*/
.wp-block[data-type^='jma/'] {
	.component-placeholder__align-center {
		align-items: center;
	}
}